appdirs==1.4.4
asgiref==3.2.7
beautifulsoup4==4.9.0
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.0
cssselect2==0.3.0
defusedxml==0.6.0
distlib==0.3.0
Django==3.0.5
django-bootstrap==0.2.4
django-bootstrap4==1.1.1
django-easy-pdf==0.1.1
filelock==3.0.12
html5lib==1.0.1
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.18.4
Pillow==7.1.1
psycopg2==2.8.5
psycopg2-binary==2.8.5
pycparser==2.20
PyPDF2==1.26.0
Pyphen==0.9.5
pytz==2019.3
reportlab==3.5.42
shortcuts==0.11.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
tinycss2==1.0.2
toml==0.10.1
views==0.3
virtualenv==20.0.20
WeasyPrint==51
webencodings==0.5.1
xhtml2pdf==0.2.4
