<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
	<h1>GB motors </h1>
	<h2>Direccion: avn.Macara </h2>
	<h2>Propietario: </h2>
	<br>	
	<h2>Descripcion del producto</h2>
	<h2>Nombre Cliente:</h2>
	<p>{{ object.idcliente}}</p>
	<h2>Tipo servicio: Alquiler Auto</h2>
	<h2>Placa Carro: </h2>
	<p>{{ object.idcar}}</p>
	<h2>Dias de renta: </h2>
	<p>{{ object.dia}}</p>
	<h2>Total: Alquiler Auto</h2>
	<p>{{ object.valor}}</p>
	<br>
	<br>
	<br>
	<h2>el alquiler es un servcio que ofrece ...............</h2>

</body>
</html>