{% extends 'base/index.html' %}
{% block content %}
<div>
<section class="register section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-12 col-xs-12">
                <div class="register-form login-area">
                    <h3>
                        Registro De Usuario 
                    </h3>
                    <form class="login-form" method="POST" action="{% url 'cars:registro' %}"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="lni-user"></i>
                                <input type="text" class="form-control" name="nombre" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="lni-user"></i>
                                <input type="text" class="form-control" name="apellido" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="lni-user"></i>
                                <input type="text" id="Name" class="form-control" name="username" placeholder="Usuario">
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <div class="input-icon">
                                <i class="lni-user"></i>
                                <input type="text" id="Name" class="form-control" name="cedula" placeholder="Cédula/RUC">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="lni-user"></i>
                                <input type="text" id="Name" class="form-control" name="telefono" placeholder="Teléfono/Célular">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="lni-user"></i>
                                <input type="text" id="Name" class="form-control" name="ciudad" placeholder="Ciudad Recidencia">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="lni-user"></i>
                                <input type="file" id="img_perfil" class="form-control" name="img_perfil" placeholder="Imagen">
                            </div>
                        </div> -->
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="lni-lock"></i>
                                <input type="password" class="form-control" placeholder="Password" name="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="lni-lock"></i>
                                <input type="password" class="form-control" placeholder="Retype Password">
                            </div>
                        </div>
                      

                        <!-- MODAL TERMINOS Y CONDICIONES-->
                        <!--<div class="text-center">
                            <a href="#myModal" class="trigger-btn" data-toggle="modal">Términos&Condiciones</a>
                        </div>-->

                        <!-- Modal HTML -->
                       


                        <div class="text-center">
                           <button type="submit" class="btn btn-common log-btn">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</div>



















{% endblock %}